<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>
<!-- <a href="/articles/<%= article.id %>/edit">
  Edit this article
</a> -->

<% if(article.comments && article.comments.length) { %>
  <% article.comments.forEach(c => { %>
    <div>
      <p>
        <em>&lsquo;<%= c.content %>&rsquo;</em>
        &mdash;<%= c.name %>
      </p>
      <form method="POST" action="/comments/<%= c.id %>?_method=DELETE" >
        <input type="hidden" value="<%= article.id %>" name="articleId">
        <input type="submit" value="Delete">
      </form>
    </div>
      <% }) %>
<% } else { %>
  <p>Be the first person to leave a comment!</p>
<% } %>

<hr />

<h3>POST to /comments</h3>
<form method="POST" action="/comments">
  <input type="hidden" name="articleId" value="<%= article.id %>">
  <label>Name</label>
  <input type="text" name="name">
  <label>Comment</label>
  <input type="text" name="content">
  <input type="submit">
</form>

<!-- <h3>POST to /articles/:id/comments</h3>
<form method="POST" action="/articles/someId/comments">
  <label>Name</label>
  <input type="text" name="name">
  <label>Comment</label>
  <input type="text" name="content">
  <input type="submit">
</form> -->

<a href="/">&larr; Back Home</a>
